.btn {
    border: 0px;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
}

.disabled {
    @extend .btn;
    background-color: grey;
    color: white;
}

.primary {
    @extend .btn;
    background-color: #4e76d5;
    color: white;
}

.secondary {
    @extend .btn;
    background-color: rgb(156, 156, 156);
    color: white;
}

.success {
    @extend .btn;
    background-color: rgb(70 196 32);
    color: white;
}

.danger {
    @extend .btn;
    background-color: rgb(226, 60, 60);
    color: white;
}

.warning {
    @extend .btn;
    background-color: #ffc107;
    color: white;
}


.shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.shadow:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.hover {
    transform: scale(1);
    transition: transform 1.2s linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

.hover:hover {
    transform: scale(0.87);
}
